*{
    margin: 0;
}

.background3{
    background-image: url("https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg');
    text-align: center;
    position:absolute;
    min-width: 100%;
    min-height: 1600px;
    background-size: cover;
    /* filter: blur(3px); */
    z-index: -1;    
    background-repeat: repeat-y;
    }

/* ======================== West ======================== */
.button-west{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-west img{
    width: 130%;
    height: auto;
}

.pop-west{
    z-index: 999;
}

/* ======================== Central ======================== */

.button-central{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-central img{
    width: 130%;
    height: auto;
}

.pop-central{
    z-index: 999;
}

/* ======================== North ======================== */

.button-north{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-north img{
    width: 130%;
    height: auto;
}

.pop-north{
    z-index: 999;
}

/* ======================== South ======================== */

.button-south{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-south img{
    width: 130%;
    height: auto;
}

.pop-south{
    z-index: 999;
}

/* ======================== East ======================== */

.button-east{
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-east img{
    width: 130%;
    height: auto;
}

.pop-east{
    z-index: 999;
}

.first_forecast{
    text-align: center;
}

.map_main{
    text-align: center;
    padding-top: 90px;
}

body{
    color: white;
}

.date{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.popfont{
    color: black;
    font-size: 30px;
}