*{
    margin: 0;
}

.background2{
    background-image: url("https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg');
    text-align: center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* filter: blur(3px); */
    z-index: -1;    
}

.app_mainheader{
    margin: auto;
    padding-top: 90px;
    text-align: center;
}


.app_statusbox{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.app_mainbody{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.app_maincontent{
    flex: 0.9;
}

.country_dropdown{
    padding-top: 30px;
    padding-bottom: 10px;
}

.app_graph{
    opacity: 100;
}



@media (max-width: 990px) {
    .app_mainbody{
        flex-direction: column;
    }
}