.esp_graph{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
}

.temp_thingspeak{
    padding-bottom: 60px;
}

.humidity_thingspeak{
    padding-bottom: 60px;
}

.esp_title{
    padding-top: 100px;
    font-size: 20px;
    text-align: center;
}

.esp_background{
    background-image: url("https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg");
    /* background-image: url("https://i.pinimg.com/originals/77/84/ba/7784baa4303bd0103e243fa9428b81bb.jpg"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg');
    text-align: center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* filter: blur(3px); */
    z-index: -1;    
    }