.background{
background-image: url("https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg");
/* background-image: url("https://i.pinimg.com/originals/77/84/ba/7784baa4303bd0103e243fa9428b81bb.jpg"); */
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg');
text-align: center;
position: fixed;
min-width: 100%;
min-height: 100%;
background-size: cover;
/* filter: blur(3px); */
z-index: -1;    
}


body{
    font-family: 'Montserrat', sans-serif;
}

.home_mainheader{
    margin: auto;
    padding-top: 110px;
    padding-bottom: 50px;
    text-align: center;
}

.home_body{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.body_main{
    text-align: center;
    height: 370px;
    width: 650px;
    vertical-align: middle;
}

.content_container{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main_description{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.main_temp{
    color: #FFF;
    font-size: 60px;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    font-weight: 900;

}

.footer_main_container{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer_main{
    display: flex;
    justify-content: space-evenly;
}

.main_info{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.home_footer{
    padding-top: 50px;
}
