

.header_logo{
    width: 60px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(189, 187, 187);
    background-color: transparent;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}