.source_date{
    display: flex;
    justify-content: space-between;
}

.card{
    border-radius: 300px;
    position: 'relative';
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.NewsCard_Source{
    color: gray;
    opacity: 0.4;
}

.NewsCard_Date{
    color: gray;
    opacity: 0.4;
}

.news_main{
    height: 850px; 
    width: 100%; 
    overflow-y: scroll;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.newscard{
    max-width: 600px;
    padding: 20px;
}

.NewsCard_Image{
    padding-bottom: 25px;
    display:inline-block;
    max-width:400px;
    height:auto;
}

.NewsCard_Desc{
    padding-bottom: 30px;
}

.NewsCard_Image:hover {
    display: inline-block;
    max-width:410px;
    height:auto;
    z-index:999;
}

.background2{
    background-image: url("https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg");
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('https://static-cse.canva.com/blob/139636/00-winterlandscapes_featimage.jpg');
    text-align: center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    /* filter: blur(3px); */
    z-index: -1;    
}

.NewsCard_Title{
    padding-bottom: 20px;
}

.newscountry_dropdown{
    margin-top: 100px;
}