.statusbox{
    flex: 1;
    cursor: pointer;
}

.statusbox:not(:last-child){
    margin-right: 15px;
}

.Statusbox_num{
    font-size: 36px;
    padding-top: 15px;
    text-align: center;
}

.Statusbox_status{
    text-align: center;
}

.statusbox--selected{
    border-top: 10px solid rgb(139, 18, 219);

}